<div class="layout">
  <div class="column"
    data-list-limit="true"
    data-list-max-height="170"
    data-list-hidden-count="true"
    data-list-max-columns="3">
    {% render "rlist", reminders: reminders, show_details: true %}
  </div>
</div>

<div class="title_bar">
  <span class="title">Reminders</span>
</div>
